/*============================================
        common css part start here
==============================================*/
* {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.clr {
  clear: both;
}

.container {
  max-width: 1220px;
}

/*============================================
        common css part ends here
==============================================*/
/*============================================
        all typography css part start here
==============================================*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

/*============================================
        all typography css part ends here
==============================================*/
/*============================================
        banner css part start here
==============================================*/
#banner_part {
  width: 100%;
  background: rgba(229, 84, 115, 0.2392156863);
}
#banner_part .banner_body {
  margin: 0 300px;
}
#banner_part .banner_body .banner_main {
  display: flex;
  align-items: center;
}
#banner_part .banner_body .banner_main .ban_text h1 {
  color: #000;
  font-size: 80px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
#banner_part .banner_body .banner_main .ban_text p {
  color: rgba(39, 39, 39, 0.6431372549);
  font-size: 18px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}
#banner_part .banner_body .banner_main .ban_text .ban_btn {
  margin-top: 20px;
}
#banner_part .banner_body .banner_main .ban_text .ban_btn a {
  color: #fff;
  background: #E55473;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  border: 1px solid #E55473;
  border-radius: 6px;
  padding: 10px 15px;
}
#banner_part .banner_body .banner_main .ban_text .ban_btn a:hover {
  background: transparent;
  color: #E55473;
  transition: 0.5s;
}
#banner_part .banner_body .banner_main .ban_image {
  text-align: right;
  padding-left: 100px;
}
#banner_part .banner_body .banner_main .ban_image img {
  height: 600px;
}

/*============================================
        banner css part ends here
==============================================*/
/*============================================
        featured css part start here
==============================================*/
#featured_part {
  width: 100%;
}
#featured_part .featured_body {
  margin: 150px 300px 100px 300px;
  text-align: center;
}
#featured_part .featured_body .featured_main .featured_text h3 {
  color: #272727;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 15px;
}
#featured_part .featured_body .featured_main .featured_text p {
  color: rgba(39, 39, 39, 0.5607843137);
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  width: 50%;
  margin: 0 auto;
}
#featured_part .featured_body .featured_card {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}
#featured_part .featured_body .featured_card .featured_card_body {
  width: 35%;
  padding-right: 20px;
  margin-top: 50px;
}
#featured_part .featured_body .featured_card .featured_card_body .card_item .card_image {
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  padding-top: 100px;
  background: rgba(167, 33, 98, 0.2862745098);
}
#featured_part .featured_body .featured_card .featured_card_body .card_item .card_image img {
  height: 350px;
  vertical-align: middle;
}
#featured_part .featured_body .featured_card .featured_card_body .card_item .card_bg2 {
  background: rgba(5, 152, 160, 0.1921568627);
}
#featured_part .featured_body .featured_card .featured_card_body .card_item .card_bg3 {
  background: rgba(71, 125, 17, 0.1764705882);
}
#featured_part .featured_body .featured_card .featured_card_body .card_item .card_text p {
  padding-top: 10px;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}

/*============================================
        featured css part ends here
==============================================*/
/*============================================
        delivery css part start here
==============================================*/
#delivery_part {
  width: 100%;
}
#delivery_part .delivery_body {
  margin: 150px 300px 100px 300px;
  background: rgba(39, 39, 39, 0.0823529412);
  text-align: center;
  height: 100%;
}
#delivery_part .delivery_body .delivery_main .delivery_card {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#delivery_part .delivery_body .delivery_main .delivery_card .delivery_card_body .card_item .card_image img {
  height: 100%;
}
#delivery_part .delivery_body .delivery_main .delivery_card .delivery_card_body .card_item .card_text p {
  padding-top: 10px;
  color: #272727;
  font-size: 18px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}

/*============================================
        delivery css part ends here
==============================================*/
/*============================================
        deal css part start here
==============================================*/
#deal_part {
  width: 100%;
  background: rgba(229, 84, 115, 0.1450980392);
}
#deal_part .deal_body {
  margin: 150px 300px 100px 300px;
}
#deal_part .deal_body .deal_main .deal_main_item {
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#deal_part .deal_body .deal_main .deal_main_item .deal_text {
  text-align: center;
}
#deal_part .deal_body .deal_main .deal_main_item .deal_text h3 {
  color: #272727;
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
}
#deal_part .deal_body .deal_main .deal_main_item .deal_text h3 span {
  color: #E55473;
}
#deal_part .deal_body .deal_main .deal_main_item .deal_text p {
  padding-top: 15px;
  color: rgba(39, 39, 39, 0.5607843137);
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  width: 65%;
  margin: 0 auto;
}
#deal_part .deal_body .deal_main .deal_main_item .deal_text .deal_btn {
  margin-top: 15px;
}
#deal_part .deal_body .deal_main .deal_main_item .deal_text .deal_btn a {
  color: #fff;
  background: #E55473;
  border-radius: 8px;
  border: 1px solid #E55473;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px;
}
#deal_part .deal_body .deal_main .deal_main_item .deal_text .deal_btn a:hover {
  color: #E55473;
  background: transparent;
  transition: 0.5s;
}

/*============================================
        deal css part ends here
==============================================*/
/*============================================
        instagram css part start here
==============================================*/
#instagram_part {
  width: 100%;
}
#instagram_part .instagram_body {
  margin: 150px 300px 100px 300px;
  text-align: center;
}
#instagram_part .instagram_body .instagram_main .instagram_text h3 {
  color: #272727;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 15px;
}
#instagram_part .instagram_body .instagram_main .instagram_text p {
  color: rgba(39, 39, 39, 0.5607843137);
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  width: 50%;
  margin: 0 auto;
}
#instagram_part .instagram_body .instagram_card {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}
#instagram_part .instagram_body .instagram_card .instagram_card_body {
  width: 25%;
  padding-right: 20px;
  margin-top: 50px;
}
#instagram_part .instagram_body .instagram_card .instagram_card_body .card_item .card_image {
  background: rgba(167, 33, 98, 0.2862745098);
}
#instagram_part .instagram_body .instagram_card .instagram_card_body .card_item .card_image img {
  height: 350px;
  width: 100%;
  vertical-align: middle;
}
#instagram_part .instagram_body .instagram_card .instagram_card_body .card_item .card_bg2 {
  background: rgba(5, 152, 160, 0.1921568627);
}
#instagram_part .instagram_body .instagram_card .instagram_card_body .card_item .card_bg3 {
  background: rgba(71, 125, 17, 0.1764705882);
}
#instagram_part .instagram_body .instagram_card .instagram_card_body .card_item .card_text p {
  padding-top: 10px;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}

/*============================================
        instagram css part ends here
==============================================*//*# sourceMappingURL=style.css.map */