/*============================================
        banner css part start here
==============================================*/
#banner_part{
    width: 100%;
    background: #e554733d;
    // height: 700px;
    .banner_body{
        margin: 0 300px;
        .banner_main{
            display: flex;
            align-items: center;
            // justify-content: space-between;
            .ban_text{
                h1{
                    color: #000;
                    font-size: 80px;
                    font-weight: 700;
                    font-family: 'Lato', sans-serif;
                }
                p{
                    color: #272727a4;
                    font-size: 18px;
                    font-weight: 300;
                    font-family: 'Lato', sans-serif;
                }
                .ban_btn{
                    margin-top: 20px;
                    a{
                        color: #fff;
                        background: #E55473;
                        text-decoration: none;
                        text-transform: capitalize;
                        font-family: 'Lato', sans-serif;
                        font-size: 20px;
                        border: 1px solid #E55473;
                        border-radius: 6px;
                        padding: 10px 15px;
                        &:hover{
                            background: transparent;
                            color: #E55473;
                            transition: .5s;
                        }
                    }
                }
            }
            .ban_image{
                text-align: right;
                padding-left: 100px;
                img{
                    height: 600px;
                }
            }
        }
    }
}
/*============================================
        banner css part ends here
==============================================*/