/*============================================
        deal css part start here
==============================================*/
#deal_part{
    width: 100%;
    background: #e5547325;
    .deal_body{
        margin: 150px 300px 100px 300px;
        .deal_main{
            .deal_main_item{
                height: 600px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .deal_text{
                    text-align: center;
                    h3{
                        color: #272727;
                        font-size: 45px;
                        font-weight: 700;
                        text-transform: capitalize;
                        font-family: 'Lato', sans-serif;
                        span{
                            color: #E55473;
                        }
                    }
                    p{
                        padding-top: 15px;
                        color: #2727278f;
                        font-size: 18px;
                        font-family: 'Lato', sans-serif;
                        font-weight: 400;
                        width: 65%;
                        margin: 0 auto;
                    }
                    .deal_btn{
                        margin-top: 15px;
                        a{
                            color: #fff;
                            background: #E55473;
                            border-radius: 8px;
                            border: 1px solid #E55473;
                            font-size: 20px;
                            font-weight: 400;
                            padding: 10px 20px;
                            &:hover{
                                color: #E55473;
                                background: transparent;
                                transition: .5s;
                            }
                        }
                    }
                }
                .deal_image{
                    img{

                    }
                }
            }
        }
    }
}
/*============================================
        deal css part ends here
==============================================*/