/*============================================
        instagram css part start here
==============================================*/
#instagram_part{
    width: 100%;
    .instagram_body{
        margin: 150px 300px 100px 300px;
        text-align: center;
        .instagram_main{
            .instagram_text{
                h3{
                    color: #272727;
                    font-size: 40px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 700;
                    text-transform: capitalize;
                    padding-bottom: 15px;
                }
                p{
                    color: #2727278f;
                    font-size: 18px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    width: 50%;
                    margin: 0 auto;
                }
            }
        }
        .instagram_card{
            padding-left: 20px;
            display: flex;
            justify-content: space-between;
            .instagram_card_body{
                width: 25%;
                padding-right: 20px;
                margin-top: 50px;
                .card_item{
                    .card_image{
                        background: #a7216249;
                        img{
                            height: 350px;
                            width: 100%;
                            vertical-align: middle;
                        }
                    }
                    .card_bg2{
                        background: #0598a031;
                    }
                    .card_bg3{
                        background: #477d112d;
                    }
                    .card_text{
                        p{
                            padding-top: 10px;
                            color: #272727;
                            font-size: 24px;
                            font-weight: 700;
                            font-family: 'Lato', sans-serif;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}
/*============================================
        instagram css part ends here
==============================================*/